body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.calc {
    width: 428px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(28, 26, 188);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(28, 26, 188);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    width: 87%;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}